@{
    ViewBag.Title = "Gạch men Long Khánh";
}

<div class="index col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="categoryPostController">
    <div class="ban col-xs-12 col-sm-12 col-md-12 col-lg-12" style="z-index:0;">
        <div id="text" class="text">
            <p id="line-1" class="line-1">Welcome you</p>
            <p id="line-2" class="line-2">long khánh company</p>
        </div>
    </div>
    <div class="prod-vis col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="prod" class="prod col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div id="prod-1" class="col-xs-6 col-md-3 col-md-3 col-lg-3">
                <a href="/danh-muc-san-pham/gach-men-cao-cap-2"></a>
                <img src="~/Content/Front/Image/trangchu/product-gachmen.png" alt="Gạch men" class="img-responsive" />
                <p class="title">Gạch men cao cấp</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
            <div id="prod-2" class="col-xs-6 col-md-3 col-md-3 col-lg-3">
                <a href="/danh-muc-san-pham/thiet-bi-nha-tam-4"></a>
                <img src="~/Content/Front/Image/trangchu/THIERT BI PHONG TAM-min.jpg" alt="Thiết bị nhà tắm" class="img-responsive" />
                <p class="title">Thiết bị nhà tắm</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
            <div id="prod-3" class="col-xs-6 col-md-3 col-md-3 col-lg-3">
                <a href="/danh-muc-san-pham/thiet-bi-ve-sinh-3"></a>
                <img src="~/Content/Front/Image/trangchu/product-thietbiwc.png" alt="Thiết bị vệ sinh" class="img-responsive" />
                <p class="title">Thiết bị vệ sinh</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
            <div id="prod-4" class="col-xs-6 col-md-3 col-md-3 col-lg-3">
                <a href="/danh-muc-san-pham/tranh-3d-noi-5"></a>
                <img src="~/Content/Front/Image/trangchu/product-tranh3d.png" alt="Tranh 3D" class="img-responsive" />
                <p class="title">Tranh 3D nổi</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
        </div>
        <div id="vis" class="vis col-xs-12 col-md-12 col-md-5 col-lg-5">
            <p>TẦM NHÌN VÀ CHIẾN LƯỢC CỦA CHÚNG TÔI</p>
            <a href="/bai-viet/tam-nhin-va-chien-luoc-cua-chung-toi-10">READ MORE</a>
        </div>
    </div>
    <div id="sui" class="sui-spa-tut-cus col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sui col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="img col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <p>
                    <span>GÓC TƯ VẤN</span><br />
                    Chúng tôi luôn luôn sẵn sàng tư vấn cho bạn một cách hoàn hảo cho căn nhà của bạn trở lên lộng lẫy hơn bao giờ hết.
                </p>
                <a href="/danh-muc-bai-viet/goc-tu-van-2">read more</a>
            </div>
            <div class="topic col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <span us-spinner="{radius:15, width:4, length: 8}"></span>
                <div dir-paginate="(index, value) in baiVietNews | itemsPerPage:3">
                    <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" style="font-weight:bold;">{{value.title}}</a>
                    <p ng-bind-html="value.description | limitTo: 200"></p>
                </div>
            </div>
        </div>
        <div class="spa-tut-cus col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="spa-tut col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="spa col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a href="/danh-muc-bai-viet/khong-gian-dep-3">Không gian đẹp</a>
                </div>
                <div class="tut col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a href="/danh-muc-bai-viet/huong-dan-lap-dat-4">Hướng dẫn lắp đặt</a>
                </div>
            </div>
            <div class="cus col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>KHÁCH HÀNG VÀ ĐỐI TÁC CỦA CHÚNG TÔI</span><br />
                    Sản phẩm của chúng tôi cung cấp cho nhiều khách hàng và đối tác ở trên khắp vùng miền đất nước. Với hàng trăm đầu mục sản phẩm khác nhau.
                </p>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" dir-paginate="(index, value) in khachHangDoiTacs | itemsPerPage:3">
                    <a href="/bai-viet/{{value.alias}}-{{value.idPost}}">
                        <img ng-src="{{value.image}}" alt="{{value.title}}" /><br />
                        {{value.title}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="news" class="news col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span us-spinner="{radius:15, width:4, length: 8}"></span>
        <div class="topic-1 col-xs-12 col-sm-4 col-md-4 col-lg-4" dir-paginate="(index, value) in baiVietTops | itemsPerPage:3">
            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}">
                <img ng-src="{{value.image}}" alt="{{value.title}}" /><br />
                {{value.title}}
            </a>
            <p ng-bind-html="value.description | limitTo: 400"></p>
        </div>
    </div>

    <div class="proj hidden-xs hidden-sm col-md-12 col-lg-12">
        <p class="col-md-12 col-lg-12">công trình tiêu biểu</p>
        <div class="col-md-12 col-lg-12 border-slide">
            <span us-spinner="{radius:15, width:4, length: 8}"></span>
            <div class="well">
                <div id="myCarousel" class="carousel slide all">
                    <!-- Carousel items -->
                    <div class="carousel-inner pic">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3 frame" dir-paginate="(index, value) in congTrinhTieuBieus | itemsPerPage:4">
                                    <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="thumbnail">
                                        <img ng-src="{{value.image}}" alt="{{value.title}}" class="img-responsive"><br />
                                        {{value.title}}
                                    </a>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3" dir-paginate="(index, value) in congTrinhTieuBieus | itemsPerPage:4">
                                    <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="thumbnail">
                                        <img ng-src="{{value.image}}" alt="{{value.title}}" class="img-responsive"><br />
                                        {{value.title}}
                                    </a>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                    </div>
                    <!--/carousel-inner-->
                    <a class="left carousel-control footer-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control footer-control" href="#myCarousel" data-slide="next">›</a>
                </div>
                <!--/myCarousel-->
            </div>
            <!--/well-->
        </div>
    </div>
</div>