.tuvan {
    padding: 0;
}

    /*Banner*/
    .tuvan > .banner {
        padding: 0;
        margin: 0 0 5em 0;
    }

        .tuvan > .banner > img {
            padding: 0;
        }

        .tuvan > .banner > p {
            font-family: Roboto-Light;
            font-size: 1.5em;
            text-align: center;
            color: rgb(100, 100, 100);
            width: 70%;
            left: 15%;
            border-top: solid 1px rgb(100, 100, 100);
            border-bottom: solid 1px rgb(100, 100, 100);
            padding: 0.3em 7em;
            margin: 0.5em 0;
        }

    /*Nội dung*/
    .tuvan > .noidung {
        padding: 0;
        width: 100%;
    }


        /*sidebar và nội dung*/
        .tuvan > .noidung > .sidebar-topic {
        }

            /*Sidebar*/
            .tuvan > .noidung > .sidebar-topic > .desktop {
                padding: 0;
            }

                .tuvan > .noidung > .sidebar-topic > .desktop:before {
                    content: "";
                    background: url(../Image/tuvan/border.png) no-repeat;
                    background-size: 100%;
                    display: block;
                    width: 100%;
                    height: 2em;
                }

                .tuvan > .noidung > .sidebar-topic > .desktop > div {
                    padding: 0;
                }

                    .tuvan > .noidung > .sidebar-topic > .desktop > div > a {
                        font-family: Roboto-Black;
                        font-size: 2em;
                        color: rgb(119, 72, 29);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        border-bottom: solid 1px rgb(100, 100, 100);
                        padding: 0.7em 0 0.5em 0;
                        margin: 0;
                        transition: all .3s ease-in-out;
                    }

                        .tuvan > .noidung > .sidebar-topic > .desktop > div > a:hover {
                            color: rgb(0, 0, 0);
                        }

                    .tuvan > .noidung > .sidebar-topic > .desktop > div > .line-1 {
                        margin: 0;
                    }

                    .tuvan > .noidung > .sidebar-topic > .desktop > div > .line-2 {
                    }

                /*Bài viết liên quan*/
                .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan {
                    padding: 0 0 3em 0;
                    margin: 3em 0;
                }

                    .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan:before {
                        content: "";
                        background: url(../Image/tuvan/border.png) no-repeat;
                        background-size: 100%;
                        display: block;
                        width: 100%;
                        height: 2em;
                    }

                    .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan > p {
                        font-family: Roboto-Black;
                        font-size: 1.6em;
                        color: rgb(119, 72, 29);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        padding: 0.5em 0 0 0;
                    }

                    .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan > .khung {
                        text-align: center;
                        padding: 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan > .khung > div {
                            margin: 0 0 2em 0;
                        }

                            .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan > .khung > div > a {
                                font-family: Roboto-Regular;
                                font-size: 1.3em;
                                color: rgb(100, 100, 100);
                                text-decoration: none;
                                transition: all .3s;
                            }

                                .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan > .khung > div > a:hover {
                                    color: rgb(0, 0, 0);
                                }

                                .tuvan > .noidung > .sidebar-topic > .desktop > .baivietlienquan > .khung > div > a > img {
                                    width: 100%;
                                    height: 10em;
                                    margin: 0.5em 0 1em 0;
                                }

            /*Các bài viết và dòng số trang*/
            .tuvan > .noidung > .sidebar-topic > .cacbaiviet {
            }

                /*Khung chứa các bài viết*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div {
                }

                    /*Bài viết*/
                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet {
                        margin: 0 0 5em 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > img {
                            height: 23em;
                        }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text {
                            padding: 1em;
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tieude {
                                font-family: Roboto-Regular;
                                font-size: 1.8em;
                                text-transform: uppercase;
                                text-align: center;
                                padding: 0;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tomtat {
                                font-family: Roboto-Light;
                                font-size: 1.5em;
                                text-align: justify;
                                padding: 0;
                                margin: 0 0 1.5em 0;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > a {
                                font-family: Roboto-Medium;
                                font-size: 1.5em;
                                color: rgb(100, 100, 100);
                                text-decoration: none;
                                text-transform: uppercase;
                                border-top: solid 1px rgb(100, 100, 100);
                                border-bottom: solid 1px rgb(100, 100, 100);
                                padding: 0.3em 1em;
                                transition: all .3s;
                                width: 30%;
                                text-align: center;
                            }

                                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > a:hover {
                                    color: rgb(0, 0, 0);
                                }

                /*Số trang*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page {
                }

                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul {
                        width: 20%;
                        left: 40%;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li {
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li > a {
                                width: 20%;
                                text-align: center;
                            }

        /*Bài viết liên quan*/
        .tuvan > .noidung > .baivietlienquan {
            margin: 1em 0;
            padding: 0;
        }

            .tuvan > .noidung > .baivietlienquan > p {
                font-family: Roboto-Black;
                font-size: 2em;
                color: rgb(12, 123, 7);
                text-transform: uppercase;
                text-align: center;
                width: 30%;
                left: 35%;
                padding: 0.3em 0;
                margin: 1em 0;
                border-top: solid 2px rgb(12, 123, 7);
                border-bottom: solid 2px rgb(12, 123, 7);
            }

            .tuvan > .noidung > .baivietlienquan > div {
            }

                .tuvan > .noidung > .baivietlienquan > div > .well {
                }

                    .tuvan > .noidung > .baivietlienquan > div > .well > div {
                    }

                        /*Phần ảnh*/
                        .tuvan > .noidung > .baivietlienquan > div > .well > div > .pic {
                        }

                            .tuvan > .noidung > .baivietlienquan > div > .well > div > .pic > .item {
                            }

                                .tuvan > .noidung > .baivietlienquan > div > .well > div > .pic > .item > div {
                                }

                                    .tuvan > .noidung > .baivietlienquan > div > .well > div > .pic > .item > div > div {
                                    }

                                        .tuvan > .noidung > .baivietlienquan > div > .well > div > .pic > .item > div > div > a {
                                            text-align: center;
                                            font-family: Roboto-Regular;
                                            font-size: 1.3em;
                                            color: rgba(0, 0, 0, .6);
                                            text-decoration: none;
                                            margin: 0;
                                        }

                                            .tuvan > .noidung > .baivietlienquan > div > .well > div > .pic > .item > div > div > a > img {
                                                width: 100%;
                                                height: 15em;
                                            }

                        /*Nút chuyển*/
                        .tuvan > .noidung > .baivietlienquan > div > .well > div > a {
                            width: 1.5em;
                            font-size: 5em;
                            padding: 1.5em 0;
                        }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {
    .tuvan {
    }

        /*Banner*/
        .tuvan > .banner {
        }

            .tuvan > .banner > p {
                font-size: 1.5em;
                padding: 0.3em 4em;
                margin: 1em 0;
            }

        /*Nội dung*/
        .tuvan > .noidung {
        }

            /*Sidebar*/
            .tuvan > .noidung > .sidebar-topic > .desktop {
            }

            /*Các bài viết và dòng số trang*/
            .tuvan > .noidung > .sidebar-topic > .cacbaiviet {
            }

                /*Khung chứa các bài viết*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div {
                }

                    /*Bài viết*/
                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet {
                        padding: 0;
                        margin: 0 0 5em 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > img {
                            height: 24em;
                        }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text {
                            padding: 1em 1em;
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tieude {
                                font-size: 1.4em;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tomtat {
                                font-size: 1.3em;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > a {
                                font-size: 1.3em;
                                width: 40%;
                            }

                /*Số trang*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page {
                }

                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul {
                        width: 30%;
                        left: 35%;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li {
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li > a {
                                width: 20%;
                                text-align: center;
                            }

            /*Bài viết liên quan*/

            .tuvan > .noidung > .baivietlienquan {
                padding: 0;
                margin: 3em 0;
            }

                .tuvan > .noidung > .baivietlienquan > p {
                    font-size: 2em;
                }

                .tuvan > .noidung > .baivietlienquan > .khung {
                    padding: 0 1%;
                }

                    .tuvan > .noidung > .baivietlienquan > .khung > div {
                        padding: 0;
                        margin: 0 1%;
                        width: 23%;
                    }

                        .tuvan > .noidung > .baivietlienquan > .khung > div > a {
                            font-size: 1.3em;
                        }

                            .tuvan > .noidung > .baivietlienquan > .khung > div > a > img {
                                margin: 0 0 1em 0;
                                width: 100%;
                                height: 10em;
                            }
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    .tuvan {
        padding: 0;
    }

        /*Banner*/
        .tuvan > .banner {
        }

            .tuvan > .banner > img {
                padding: 0;
            }

            .tuvan > .banner > p {
                width: 80%;
                left: 10%;
                padding: 0.3em 2em;
                margin: 1em 0;
            }

        /*Nội dung*/
        .tuvan > .noidung {
            padding: 0;
        }

            /*Sidebar*/
            .tuvan > .noidung > .sidebar-topic > .mobile {
                padding: 0;
            }

                .tuvan > .noidung > .sidebar-topic > .mobile:before {
                }

                .tuvan > .noidung > .sidebar-topic > .mobile > .sidebar {
                    padding: 0;
                }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .sidebar:before {
                        content: "";
                        background: url(../Image/tuvan/border.png) no-repeat;
                        background-size: 100%;
                        display: block;
                        width: 100%;
                        height: 2em;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .sidebar > a {
                        font-family: Roboto-Black;
                        font-size: 1.6em;
                        color: rgb(119, 72, 29);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        border-bottom: solid 1px rgb(100, 100, 100);
                        padding: 0.7em 0 0.5em 0;
                        margin: 0;
                        transition: all .3s ease-in-out;
                    }

                        .tuvan > .noidung > .sidebar-topic > .mobile > .sidebar > a:hover {
                            color: rgb(0, 0, 0);
                        }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .sidebar > .line-1 {
                        margin: 0;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .sidebar > .line-2 {
                        border-bottom: none;
                    }

                /*Bài viết liên quan*/
                .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan {
                    padding: 0 0 3em 0;
                    margin: 0;
                }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan:before {
                        content: "";
                        background: url(../Image/tuvan/border.png)no-repeat;
                        background-size: 100%;
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                        height: 2em;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > p {
                        font-family: Roboto-Black;
                        font-size: 1.6em;
                        color: rgb(119, 72, 29);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        padding: 0.5em 0 0 0;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung {
                        text-align: center;
                        padding: 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div {
                            margin: 0 0 2em 0;
                        }

                            .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div > a {
                                font-family: Roboto-Regular;
                                font-size: 1.2em;
                                color: rgb(100, 100, 100);
                                text-decoration: none;
                                transition: all .3s;
                            }

                                .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div > a:hover {
                                    color: rgb(0, 0, 0);
                                }

                                .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div > a > img {
                                    width: 100%;
                                    margin: 0.5em 0 1em 0;
                                }


            /*Các bài viết và dòng số trang*/
            .tuvan > .noidung > .sidebar-topic > .cacbaiviet {
                padding: 0 !important;
                margin: 0 0 5em 0;
            }

                /*Khung chứa các bài viết*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div {
                    padding: 0;
                }

                    /*Bài viết*/
                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet {
                        margin: 0 0 3em 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > img {
                            height: 20em;
                        }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text {
                            padding: 2em 1em;
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tieude {
                                font-size: 1.5em;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tomtat {
                                font-size: 1.1em;
                                margin: 0 0 1em 0;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > a {
                                font-size: 1.2em;
                                text-align: center;
                                width: 40%;
                            }

                /*Số trang*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page {
                }

                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul {
                        width: 40%;
                        left: 30%;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li {
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li > a {
                                width: 20%;
                                text-align: center;
                                padding: 0.4em 0;
                            }

            /*Bài viết liên quan*/
            .tuvan > .noidung > .baivietlienquan {
                padding: 0;
                margin: 3em 0;
            }

                .tuvan > .noidung > .baivietlienquan > p {
                    font-size: 2em;
                }

                .tuvan > .noidung > .baivietlienquan > .khung {
                    padding: 0 1%;
                }

                    .tuvan > .noidung > .baivietlienquan > .khung > div {
                        padding: 0;
                        margin: 0 1%;
                        width: 23%;
                    }

                        .tuvan > .noidung > .baivietlienquan > .khung > div > a {
                            font-size: 1.3em;
                        }

                            .tuvan > .noidung > .baivietlienquan > .khung > div > a > img {
                                margin: 0 0 1em 0;
                                width: 100%;
                                height: 10em;
                            }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    .tuvan {
        padding: 0;
    }

        /*Banner*/
        .tuvan > .banner {
            padding: 0;
            margin: 0 0 3em 0;
        }

            .tuvan > .banner > img {
                padding: 0;
            }

            .tuvan > .banner > p {
                font-size: 1em;
                width: 80%;
                left: 10%;
                padding: 0.3em 0em;
                margin: 1em 0;
            }

        /*Nội dung*/
        .tuvan > .noidung {
            padding: 0;
        }

            /*Sidebar*/
            .tuvan > .noidung > .sidebar-topic > .mobile {
                padding: 0;
            }

                .tuvan > .noidung > .sidebar-topic > .mobile:before {
                    content: "";
                    background: url(../Image/tuvan/border.png) 100% no-repeat;
                    display: block;
                    width: 100%;
                    height: 2em;
                }

                .tuvan > .noidung > .sidebar-topic > .mobile > div {
                    padding: 0;
                }

                    .tuvan > .noidung > .sidebar-topic > .mobile > div > a {
                        font-family: Roboto-Black;
                        font-size: 2em;
                        color: rgb(119, 72, 29);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        border-bottom: solid 1px rgb(100, 100, 100);
                        padding: 0.7em 0 0.5em 0;
                        margin: 0;
                        transition: all .3s ease-in-out;
                    }

                        .tuvan > .noidung > .sidebar-topic > .mobile > div > a:hover {
                            color: rgb(0, 0, 0);
                        }

                    .tuvan > .noidung > .sidebar-topic > .mobile > div > .line-1 {
                        margin: 0;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > div > .line-2 {
                        border-bottom: none;
                    }

                /*Bài viết liên quan*/
                .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan {
                    padding: 0 0 3em 0;
                    margin: 2em 0;
                }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan:before {
                        content: "";
                        background: url(../Image/tuvan/border.png) 100% no-repeat;
                        display: block;
                        width: 100%;
                        height: 2em;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > p {
                        font-family: Roboto-Black;
                        font-size: 1.6em;
                        color: rgb(119, 72, 29);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        padding: 0.5em 0 0 0;
                    }

                    .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung {
                        text-align: center;
                        padding: 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div {
                            margin: 0 0 2em 0;
                        }

                            .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div > a {
                                font-family: Roboto-Regular;
                                font-size: 1.3em;
                                color: rgb(100, 100, 100);
                                text-decoration: none;
                                transition: all .3s;
                            }

                                .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div > a:hover {
                                    color: rgb(0, 0, 0);
                                }

                                .tuvan > .noidung > .sidebar-topic > .mobile > .baivietlienquan > .khung > div > a > img {
                                    width: 100%;
                                    height: 10em;
                                    margin: 0.5em 0 1em 0;
                                }

            /*Các bài viết và dòng số trang*/
            .tuvan > .noidung > .sidebar-topic > .cacbaiviet {
                padding: 0;
                margin: 0 0 2em 0;
            }

                /*Khung chứa các bài viết*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div {
                    padding: 0;
                }

                    /*Bài viết*/
                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet {
                        padding: 0;
                        margin: 0 0 1em 0;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > img {
                            padding: 0;
                            width: 100%;
                            display: none;
                        }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text {
                            padding: 2em 0;
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tieude {
                                font-size: 1.5em;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > .tomtat {
                                font-size: 1em;
                            }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > a {
                                font-size: 1em;
                                text-align: center;
                                display: block;
                                padding: 0.5em 0 0.3em 0;
                                width: 40%;
                                right: 0;
                            }

                                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > div > .baiviet > .text > a:hover {
                                    color: rgb(0, 0, 0);
                                }

                /*Số trang*/
                .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page {
                }

                    .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul {
                        width: 70%;
                        left: 15%;
                    }

                        .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li {
                        }

                            .tuvan > .noidung > .sidebar-topic > .cacbaiviet > .num-page > ul > li > a {
                                width: 20%;
                                text-align: center;
                                padding: 0.3em 0;
                            }
}
