.modal {
}

    .modal > div {
    }

        .modal > div > div {
        }

            .modal > div > div > .modal-header {
            }

                .modal > div > div > .modal-header > p {
                    text-transform: uppercase;
                }

            .modal > div > div > .modal-body {
                height: 1%;
                overflow: hidden;
            }

                .modal > div > div > .modal-body > img {
                }

                .modal > div > div > .modal-body > .info {
                }

                    .modal > div > div > .modal-body > .info > p {
                        /*font-family: Roboto-Light;*/
                    }

                        .modal > div > div > .modal-body > .info > p > span {
                            /*font-family: Roboto-Bold;*/
                            text-transform: uppercase;
                        }

                        .modal > div > div > .modal-body > .info > p > .masanpham {
                            /*font-family: Roboto-Light;*/
                        }

                    .modal > div > div > .modal-body > .info > .social {
                    }

                        .modal > div > div > .modal-body > .info > .social a {
                            margin: 0 0.5em;
                        }

                            .modal > div > div > .modal-body > .info > .social a:hover {
                            }

            .modal > div > div > .modal-footer {
                padding: 0.5em 1em;
            }
