.sanpham {
    position: static;
    height: 1%;
    overflow: hidden;
    padding: 10em 0 5em 0;
}

    /*Banner*/
    .sanpham > .banner {
        width: 90%;
        margin: 0 5%;
    }

        .sanpham > .banner > img {
            width: 100%;
        }

    /*Mục các dòng sản phẩm*/
    .sanpham > .cacmucsanpham {
        padding: 0;
    }

        /*từng dòng sản phẩm*/
        .sanpham > .cacmucsanpham > div {
            width: 90%;
            left: 5%;
            padding: 0;
            margin: 1em 0;
            height: 1%;
            overflow: hidden;
        }

            .sanpham > .cacmucsanpham > div > .tieude {
                width: 24%;
                left: 38%;
                padding: 0.3em 0;
                border-top: solid 2px rgb(0, 0, 0);
                border-bottom: solid 2px rgb(0, 0, 0);
                margin: 3em 0;
            }

                .sanpham > .cacmucsanpham > div > .tieude > p {
                    text-align: center;
                    /*font-family: Roboto-Regular;*/
                    text-transform: uppercase;
                    font-size: 2em;
                    margin: 0;
                }

            /*Các sản phẩm*/
            .sanpham > .cacmucsanpham > div > .cacsanpham {
                padding: 0;
            }

                .sanpham > .cacmucsanpham > div > .cacsanpham > div {
                    text-align: center;
                }

                .sanpham > .cacmucsanpham > div > .cacsanpham > .sp-1 {
                    padding: 0 0.5em 0 0;
                }

                .sanpham > .cacmucsanpham > div > .cacsanpham > .sp-2, .sp-3 {
                    padding: 0 0.5em;
                }

                .sanpham > .cacmucsanpham > div > .cacsanpham > .sp-4 {
                    padding: 0 0 0 0.5em;
                }

                .sanpham > .cacmucsanpham > div > .cacsanpham > div > a {
                    margin: 0;
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                }

                    .sanpham > .cacmucsanpham > div > .cacsanpham > div > a > img {
                        width: 100%;
                        height: 20em;
                    }

                    .sanpham > .cacmucsanpham > div > .cacsanpham > div > a > p {
                        /*font-family: Roboto-Medium;*/
                        font-size: 1.5em;
                        margin: 1em 0;
                    }

                        .sanpham > .cacmucsanpham > div > .cacsanpham > div > a > p > span {
                            /*font-family: Roboto-Black;*/
                            text-transform: uppercase;
                        }

            /*Nút xem thêm*/
            .sanpham > .cacmucsanpham > div > a {
                /*font-family: Roboto-Medium;*/
                font-size: 1.5em;
                color: rgb(255, 255, 255);
                background: rgb(15, 172, 244);
                text-transform: uppercase;
                text-decoration: none;
                display: block;
                width: 15%;
                float: right;
                padding: 0.5em 1em;
                text-align: center;
                margin: 1.5em 0;
            }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {

    /*Mục các dòng sản phẩm*/
    .sanpham > .cacmucsanpham {
        padding: 0;
    }

        /*từng dòng sản phẩm*/
        .sanpham > .cacmucsanpham > div {
            width: 90%;
            left: 5%;
            padding: 0;
            margin: 1em 0;
            height: 1%;
            overflow: hidden;
        }

            .sanpham > .cacmucsanpham > div > .tieude {
                width: 30%;
                left: 35%;
            }

            .sanpham > .cacmucsanpham > div > .cacsanpham > div > a > img {
                width: 100%;
                height: 15em;
            }

            /*Nút xem thêm*/
            .sanpham > .cacmucsanpham > div > a {
                width: 20%;
            }
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {

    /*Banner*/
    .sanpham > .banner {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sanpham > .cacmucsanpham > div > .tieude {
        width: 40%;
        left: 30%;
    }

    /*Các sản phẩm*/

    .sanpham > .cacmucsanpham > div > .cacsanpham > div {
        margin: 0 0 2em 0;
    }

    .sanpham > .cacmucsanpham > div > .cacsanpham > .sp-1, .sp-3 {
        padding: 0 0.5em 0 0;
    }

    .sanpham > .cacmucsanpham > div > .cacsanpham > .sp-2, .sp-4 {
        padding: 0 0 0 0.5em;
    }

    .sanpham > .cacmucsanpham > div > .cacsanpham > div > a > img {
        height: 23em;
    }


    /*Nút xem thêm*/
    .sanpham > .cacmucsanpham > div > a {
        width: 30%;
        left: 35%;
        float: left;
    }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    .sanpham {
        padding: 0;
    }

        /*Banner*/
        .sanpham > .banner {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        /*Mục các dòng sản phẩm*/
        .sanpham > .cacmucsanpham {
            padding: 0;
        }

            /*từng dòng sản phẩm*/
            .sanpham > .cacmucsanpham > div {
                width: 90%;
                left: 5%;
            }

                .sanpham > .cacmucsanpham > div > .tieude {
                    width: 80%;
                    left: 10%;
                    margin: 2em 0 2em 0;
                }

                    .sanpham > .cacmucsanpham > div > .tieude > p {
                        font-size: 1.5em;
                    }

                /*Các sản phẩm*/
                .sanpham > .cacmucsanpham > div > .cacsanpham {
                    padding: 0;
                }

                    .sanpham > .cacmucsanpham > div > .cacsanpham > div {
                        padding: 0 !important;
                    }

                        .sanpham > .cacmucsanpham > div > .cacsanpham > div > a > p {
                            margin: 0.5em 0 1.5em 0;
                        }

                /*Nút xem thêm*/
                .sanpham > .cacmucsanpham > div > a {
                    font-size: 1.2em;
                    width: 40%;
                    left: 30%;
                    float: left;
                    padding: 0.5em 1em;
                    margin: 1.5em 0 1em 0;
                }

                .modal-dialog{
                    margin:0;
                }
}
